.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(63, 89, 77);
  position: relative;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: rgb(63, 89, 77);
}

.nosotrosSection {
  padding: 5rem 1rem;
  overflow-x: hidden;
}

.valuesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 4rem auto;
}


@media (min-width: 768px) {
  .valuesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.valueCard {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueCard:hover {
  transform: translateY(-10px);
}

.valueIconContainer {
  width: 100px;
  height: 100px;
  background-color: rgb(192, 208, 180);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}


.valueIcon {
  width: 70px;
  height: auto;
  border-radius: 4px;
}

.valueTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 1rem;
}

.valueDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: start;
}

.teamTitle {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.5rem;
  color: rgb(63, 89, 77);
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  margin-top: 55px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .teamContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .teamContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px
  }
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teamMemberImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 4px solid white;
}

.teamMemberPhoto {
  width: 100%;
  height: auto;
  

}

.teamMemberName {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 0.3rem;
}

.teamMemberRole {
  font-size: 0.9rem;
  color: rgb(63, 89, 77);
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);
}

/* Sección Sumate al equipo */
.joinSection {
  text-align: center;
  margin: 4rem auto;
  max-width: 600px;
  padding: 2rem;
  background: rgb(251, 245, 232);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.joinTitle {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 1rem;
}

.joinText {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.joinButton {
  padding: 0.8rem 2rem;
  background-color: rgb(63, 89, 77);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.joinButton:hover {
  background-color: rgb(50, 70, 60);
}

/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: rgb(251, 245, 232);
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalTitle {
  font-size: 1.8rem;
  color: rgb(63, 89, 77);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background: rgb(251, 245, 232);
}

.fileInputLabel {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: rgb(63, 89, 77);
}

.fileInputLabel input {
  display: block;
  margin-top: 0.5rem;
}

.submitButton {
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(63, 89, 77);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: rgb(50, 70, 60);
}

.aboutUsContainer {
  max-width: 1200px;
  margin: 0 auto 4rem auto;
  padding: 2rem;
  text-align: center;
}

.aboutUsTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 1rem;
  position: relative;
  letter-spacing: 1.1px;
}

.aboutUsText {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: start;
  max-width: 900px;
  margin: 0 auto;
  letter-spacing: 1px;
}

