.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(63, 89, 77);
  position: relative;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: rgb(63, 89, 77);
}

.contactoSection {
  padding: 5rem 1rem;
}

.contactDescription {
  max-width: 800px;
  margin: 0 auto 3rem auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .contactContainer {
    grid-template-columns: 1fr 2fr;
  }
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 576px) and (max-width: 991px) {
  .contactInfo {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contactInfoItem {
  background-color: rgb(251, 245, 232);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.contactInfoTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.contactInfoTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: rgb(63, 89, 77);

}

.contactInfoText {
  font-size: 1rem;
  color: #555;
}

.contactForm {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  background-color: rgb(251, 245, 232);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(63, 89, 77);
  margin-bottom: 0.5rem;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: rgb(251, 245, 232);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formInput:focus,
.formTextarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
  outline: none;
}

.formInput::placeholder,
.formTextarea::placeholder {
  color: #aaa;
}

.formTextarea {
  resize: vertical;
  min-height: 120px;
}

.formButton {
  background-color: rgb(170, 187, 156);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.formButton:hover {
  background-color: rgb(150, 171, 134);
  opacity: 0.9;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 576px) {
  .formButton {
    padding: 0.7rem 1.5rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .heroSlogan {
    font-size: 2.2rem;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .valueTitle {
    font-size: 1.5rem;
  }

  .teamTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .heroSlogan {
    font-size: 1.8rem;
  }

  .heroButton {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }

  .sectionTitle {
    font-size: 1.8rem;
  }

  .questionTitle,
  .serviceTitle {
    font-size: 1.2rem;
  }
}